body {
  margin: 0;
  font-family: "brother-1816", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #f6f5e9;
  color: #2b3b1c;
}
h1 {
  font-family: nelson, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}
h2 {
  font-family: nelson, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
nav {
  font-family: nelson, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.App {
  min-height: 100vh;
}
.information {
  margin-inline: 10%;
  text-align: center;
  list-style: none;
  color: #050f50;
}
.information ul li {
  list-style: none;
  text-decoration: none;
  color: #050f50;
  font-size: 20px;
  font-weight: 300;
}
.information ul li a {
  list-style: none;
  text-decoration: none;
  color: #050f50;
  font-size: 20px;
  font-weight: 300;
}
.information ul li a:hover {
  list-style: none;
  text-decoration: none;
  color: #2b3b1c;
  font-size: 20px;
  font-weight: 300;
}
